.app-container{
    width: 393px;
    height: 852px;
    border: 1px solid black;
    background: #FFFFFF;
}

.banner-section{
    background: linear-gradient(124.1deg, #842CFF 7.96%, #B247FF 79.94%);
    width: 393px;
    height: 278px;
    position: relative;
}

.banner-contents {
    width: 216px;
    height: 78px;
    top: 68px;
    margin-left: 158px;
    border: 1px ;    
    position: absolute;
}

.banner-contents p {
    margin: 0;
    font: 'Pretendard'; 
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 39px;
    text-align: right;
    color: #FFFFFF;
}

.request{
    width: 176px;
    height: 34px;
    margin-top: 176px;
    margin-left: 193px;
    border-radius: 19.18px;
    border: #FFFFFF;
    background: #FFFFFF;
}

.request-layout{
    width: 133px;
    height: 17px;
    margin-top: 185px;
    left: 214px;
    margin: auto;
}

.request p{
    font-family: 'Pretendard';
    line-height: 16.71px;
    font-weight: 600;
    font-size: 13px;
    margin: 0;
    text-align: left;
    color: #842CFF;
    
}

.map-section h4{
    width: 109px;
    height: 24px;
    margin-top: 27px;
    margin-left: 19px;
    font-family: 'pretendard';
    font-weight: 600;
    font-size: 20px;
    line-height: 23.87px;
    color: black;
}

.map-contents{
    width: 353px;
    height: 146px;
    top: 338px;
    margin-top: 9px;
    margin-left: 20px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    position: absolute;
}

.map-title{
    width: 109px;
    height: 24px;
    margin-top: 35px;
    margin-left: 28px;
    font-family: 'pretendard';
    font-weight: 600;
    font-size: 20px;
    line-height: 23.87px;
    color: black;

}

.map-body{
    width: 141px;
    height: 34px;
    margin-top: 12px;
    margin-left: 28px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.71px;
    font-family: 'pretendard';
    color: #858585;
    border: 0.5px solid;
}

.study-section{
    width: 148px;
    height: 24px;
    margin-top: 23px;
    margin-left: 19px;
    color: black;
    font-size: 20px;
    line-height: 23.87;
    font-weight: 600;
    font-family: 'pretendard';
}

.menu{
    width: 393px;
    height: 94px;
    margin-top: 384px;
    border-top: 1px solid #CACACA
}

